services:
  database:
    image: postgres:16
    container_name: database
    environment:
      POSTGRES_USER: sreuser
      POSTGRES_PASSWORD: srepass
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d:ro
    networks: [app-network]
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h localhost -p 5432",
        ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s

  backend:
    build: ./backend
    container_name: backend
    environment:
      DATABASE_URL: postgres://sreuser:srepass@database:5432/appdb?sslmode=disable
    networks: [app-network]
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    networks: [app-network]
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_started
    ports:
      - "80:80"

  postgresql-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgresql-exporter
    environment:
      DATA_SOURCE_NAME: "postgres://sreuser:srepass@database:5432/appdb?sslmode=disable"
    networks: [app-network]
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "9187:9187"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    restart: unless-stopped
    networks: [app-network]
    ports:
      - "8081:8080" # optional: เปิดดูหน้าเว็บ cadvisor
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
